@media only screen and (max-width: 1500px)  {
    .main_page .left_side img{
        width: 310px !important;
    }
    .main_page .left_side .description .title{
        font-size: 45px;
    }
    .main_page .disk_animate_content{
        left: -185px;
    }
    .main_page .left_side{
        width: 320px !important;
    }
    .main_page .left_side .description p{
        margin: 60px 15px;
        font-size: 17px;
    }
    .main_page .reload{
        width: 980px;
    }
}

@media only screen and (max-width: 1350px)  {
    .main_page .left_side img{
        width: 270px !important;
    }
    .main_page .left_side .description .title{
        font-size: 45px;
    }
    .main_page .disk_animate_content{
        left: -230px;
    }
    .main_page .left_side{
        width: 275px !important;
    }
    .main_page .left_side .description p{
        margin: 60px 5px;
        font-size: 15px;
    }
    .main_page .reload{
        width: 970px;
    }
    .main_page .disk_animate_content .information_content{
        left: 380px;
    }
    .main_page .disk_animate_content .information_content .reserved_info{
        margin-left: 78px;
    }
    .main_page .disk_animate_content .information_content .email{
        margin-left: 232px;
    }
}