 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

.google_map_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  display: flex;

}

.show-map {
  display: block;
  animation: fade-in 0.7s ease forwards;
}

.hidden-map {
  display: none !important;
}


@keyframes fade-in {
  from {

    transform: translateX(-100%);
  }

  to {
    transform: translatX(0);
  }

}


.containerStyle__google__map {
  width: 610px;
  height: 100%;
}

.close_content {
  width: 65px;
  height: 65px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.google_map_content {
  display: flex;
}



.registration_main_content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 100px;

    Form {
      width: 100%;
      .address_content {
        position: relative;
        width: 400px;
        margin: auto;

        .address_icon {
          position: absolute;
          right: 10px;
          bottom: 16px;
        }

      }
      .btn{
        margin-top: 40px;
      }
      .input{
        margin-top: 10px;
      }
    }
  }

  .right_content {
    overflow: hidden;
    position: relative;

    .disk_img {
      -webkit-animation: spin 10s linear infinite;
      -moz-animation: spin 10s linear infinite;
      animation: spin 10s linear infinite;
      height: 100vh;
    }

    .right_img {
      position: absolute;
      right: -40px;
      top: 0;
      bottom: 0;
      object-fit: fill;
      height: 100vh;
    }
    .registration_right_sids_description{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    .title {
      color: #FFFFFF;
      font-size: 60px;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      // margin: 0 37px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
      margin-top: 60px;
      width: 300px;
      padding: 0 25px;

    }
    }
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}