.search_header_content{
    background-image: url('../../../../src/assets/images/song_header.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 109px;
}